<div class="row">
  <% @rooms.each do |room| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0 %>
        </div>
        <div class="panel-body">
          <%= link_to room.listing_name, room %>
        </div>
      </div>
    </div>
  <% end %>
</div>
