<%= form_for([@room, @room.reviews.new]) do |f| %>
  
  <div id="user-rating"></div>

  <div class="form-group">
    <%= f.text_area :comment, rows: 3, class: 'form-control' %>
  </div>
    
  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="action">
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>


<script>
  $('#user-rating').raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 1
  });
</script>